.bubble-effect {
  position: fixed;
  width: 500px;
  left: calc((100vw - 500px) / 2);
  bottom: 0;
  z-index: 4;
}

@-webkit-keyframes bubble {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 100vh;
  }
}

@keyframes bubble {
  0% {
    bottom: 0;
  }

  100% {
    bottom: 100vh;
  }
}