.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: width 1s linear;
  -o-transition: width 1s linear;
  transition: width 1s linear;
}

.bubble__inner {
  padding-top: 100%;
}

.bubble_xl {
  width: 90vw;
  background-color: #e7891b;
}

.bubble_l {
  width: 60vw;
  background-color: #f3c48d;
}

.bubble_m {
  width: 55vw;
  background-color: #facc27;
}

.bubble_s {
  width: 25vw;
  background-color: #facc27;
}

.bubble_xs {
  width: 15vw;
  background-color: #facc27;
}

.bubble_xxs {
  width: 10vw;
  background-color: #facc27;
}

.p1 {
  top: -20vw;
  left: -5vw;
}

.p2 {
  top: 25vw;
  right: -5vw;
}

.p3 {
  top: 50vw;
  left: 15vw;
}

.p4 {
  top: 73vw;
  right: -7vw;
}

.p5 {
  top: 168vw;
  right: -24vw;
}

.p6 {
  top: 208vw;
  left: 64px;
}

.p7 {
  top: 241vw;
  right: 55px;
}

.p8 {
  top: 255vw;
  left: -25vw;
}

.p9 {
  top: 376vw;
  left: 11vw;
}

.p10 {
  top: 350vw;
  right: -20vw;
}

.p11 {
  top: 430vw;
  left: -9vw;
}

.p12 {
  top: 446vw;
  right: -60vw;
}

.p13 {
  top: 575vw;
  left: -30vw;
}

.p14 {
  top: 544vw;
  right: 6vw;
}

.p15 {
  top: 623vw;
  right: -10vw;
}

.p16 {
  top: 720vw;
  left: -24vw;
}

.p17 {
  top: 799vw;
  right: 49vw;
}

.p18 {
  top: 771vw;
  right: -26vw;
}

.p19 {
  top: 826vw;
  left: -8vw;
}

.p20 {
  top: 870vw;
  left: -23vw;
}

.p21 {
  top: 927vw;
  right: -53vw;
}

.p22 {
  top: 1033vw;
  left: 11vw;
}