/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Great Vibes", cursive;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff3d1;
}

.bg {
  background-color: #fff3d1;
}

p, h2 {
  color: #1a1a1a;
}

h2 {
  font-weight: normal;
}

.clear-size {
  width: 0 !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.none {
  display: none !important;
}