@media screen and (min-width: 500px) {
  .title {
    font-size: 40px;
  }

  .welcome {
    padding: 25px;
  }

  .welcome__date {
    width: 325px;
    margin: 0 auto 5px;
  }

  .welcome__img {
    width: 280px;
    border-radius: 16px;
  }

  .welcome__image-box-2 {
    margin-top: -140px;
  }

  .welcome__victor {
    top: 180px;
    left: 30px;
    font-size: 44px;
  }

  .welcome__zhanna {
    top: 575px;
    right: 35px;
    font-size: 44px;
  }

  .speech {
    padding: 90px;
  }

  .speech__title {
    margin-bottom: 30px;
  }

  .speech__description {
    font-size: 27.5px;
    margin-bottom: 30px;
  }

  .plan {
    padding: 50px;
  }

  .plan__title {
    margin-bottom: 15px;
  }

  .plan__point {
    margin-bottom: 50px;
  }

  .plan__time {
    font-size: 29px;
  }

  .plan__details-title {
    font-size: 29px;
    margin-bottom: 5px;
  }

  .plan__details-description {
    font-size: 25px;
  }

  .location {
    padding: 40px;
  }

  .location__title {
    margin-bottom: 50px;
  }

  .location__address {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .location__button {
    width: 210px;
    height: 210px;
    margin: 0 auto 75px;
    padding: 15px;
    font-size: 25px;
  }

  .location__button img {
    width: 50px;
    margin-top: 10px;
  }

  .location__point {
    margin-bottom: 40px;
  }

  .location__point-img {
    width: 70px;
    height: 70px;
  }

  .location__point-text {
    font-size: 25px;
    width: 214px;
  }

  .form {
    padding: 40px;
  }

  .form form {
    font-size: 29px;
  }

  .form__title {
    margin-bottom: 30px;
  }

  .form__group {
    margin-bottom: 25px;
  }

  .form__group-title {
    margin-bottom: 10px;
  }

  .form__group-title span:nth-child(2n) {
    font-size: 21px;
  }

  .button {
    font-size: 25px;
    width: 175px;
    height: 60px;
  }

  .loader {
    width: 18px;
    height: 18px;
  }

  .field__name {
    font-size: 29px;
  }

  .contacts {
    padding: 30px;
  }

  .contacts__title {
    margin-bottom: 30px;
  }

  .contacts__img {
    width: 250px;
    border-radius: 15px;
  }

  .contacts__info {
    font-size: 27px;
    margin-bottom: 15px;
  }

  .contacts__name {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .contacts__phone {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .time-left {
    margin-bottom: 15px;
  }

  .time-left__description {
    font-size: 29px;
    margin-bottom: 10px;
  }

  .time-left__time {
    font-size: 29px;
  }

  .time-left__time-part {
    position: relative;
  }

  .time-left__time-part + .time-left__time-part {
    margin-left: 10px;
  }

  .bubble_xl {
    width: 450px;
  }

  .bubble_l {
    width: 300px;
  }

  .bubble_m {
    width: 275px;
  }

  .bubble_s {
    width: 125px;
  }

  .bubble_xs {
    width: 75px;
  }

  .bubble_xxs {
    width: 50px;
  }

  .p1 {
    top: -100px;
    left: -25px;
  }

  .p2 {
    top: 125px;
    right: -25px;
  }

  .p3 {
    top: 250px;
    left: 75px;
  }

  .p4 {
    top: 365px;
    right: -35px;
  }

  .p5 {
    top: 840px;
    right: -120px;
  }

  .p6 {
    top: 1040px;
    left: 320px;
  }

  .p7 {
    top: 1205px;
    right: 275px;
  }

  .p8 {
    top: 1275px;
    left: -125px;
  }

  .p9 {
    top: 1880px;
    left: 55px;
  }

  .p10 {
    top: 1750px;
    right: -100px;
  }

  .p11 {
    top: 2150px;
    left: -45px;
  }

  .p12 {
    top: 2230px;
    right: -300px;
  }

  .p13 {
    top: 2875px;
    left: -150px;
  }

  .p14 {
    top: 2720px;
    right: 30px;
  }

  .p15 {
    top: 3115px;
    right: -50px;
  }

  .p16 {
    top: 3600px;
    left: -120px;
  }

  .p17 {
    top: 3995px;
    right: 245px;
  }

  .p18 {
    top: 3855px;
    right: -130px;
  }

  .p19 {
    top: 4130px;
    left: -40px;
  }

  .p20 {
    top: 4350px;
    left: -115px;
  }

  .p21 {
    top: 4635px;
    right: -265px;
  }

  .p22 {
    top: 5165px;
    left: 55px;
  }
}