.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio {
  width: 24px;
  height: 24px;
  border: 2px solid #fcd858;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.radio__checked {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #fcd858;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 5px;
  background-position: center;
}

.field:checked + .checkbox {
  background-image: url("../images/checkmark.svg");
}

.field:checked + .radio > .radio__checked {
  display: block;
}