.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal__content {
  text-align: center;
  padding: 32px;
  border-radius: 16px;
  background-color: #fff3d1;
  z-index: 2;
}

.modal__title {
  font-size: 30px;
  margin-bottom: 12px;
}

.modal__text {
  font-size: 20px;
  margin-bottom: 24px;
}