.title {
  font-size: 8vw;
  text-align: center;
}

.sections {
  width: 100%;
}

.section {
  position: relative;
  z-index: 3;
}

.welcome {
  position: relative;
  padding: 5vw;
}

.welcome__date {
  width: 65vw;
  margin: 0 auto 1vw;
  text-align: right;
}

.welcome__img {
  width: 56vw;
  border-radius: 3vw;
}

.welcome__image-box-1 {
  position: relative;
  z-index: 3;
  text-align: right;
}

.welcome__image-box-2 {
  margin-top: -28vw;
}

.welcome__victor {
  position: absolute;
  top: 36vw;
  left: 6vw;
  font-size: 9vw;
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.welcome__zhanna {
  position: absolute;
  top: 115vw;
  right: 7vw;
  font-size: 9vw;
  -webkit-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  transform: rotate(-22deg);
}

.speech {
  padding: 18vw;
}

.speech__title {
  margin-bottom: 6vw;
}

.speech__description {
  font-size: 5.5vw;
  text-align: center;
  margin-bottom: 6vw;
}

.speech__calendar {
  width: 85%;
  margin: 0 auto;
}

.plan {
  padding: 10vw;
}

.plan__title {
  margin-bottom: 3vw;
}

.plan__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10vw;
}

.plan__point:last-child {
  margin-bottom: 0;
}

.plan__time {
  font-size: 6vw;
}

.plan__icon {
  width: 50px;
  height: 50px;
}

.plan__details {
  width: 50%;
}

.plan__details-title {
  font-size: 6vw;
  text-decoration: underline;
  margin-bottom: 1vw;
}

.plan__details-description {
  font-size: 5vw;
}

.location {
  padding: 8vw;
}

.location__title {
  margin-bottom: 10vw;
}

.location__address {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 3vw;
}

.location__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  color: #1a1a1a;
  width: 42vw;
  height: 42vw;
  border-radius: 50%;
  margin: 0 auto 15vw;
  padding: 3vw;
  background-color: #fce387;
  font-size: 5vw;
  font-weight: bold;
}

.location__button img {
  width: 10vw;
  margin-top: 2vw;
}

.location__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.location__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 8vw;
}

.location__point:nth-child(2n) {
  text-align: right;
}

.location__point:last-child {
  margin-bottom: 0;
}

.location__point-img {
  width: 14vw;
  height: 14vw;
}

.location__point-text {
  font-size: 5vw;
  width: 42.8vw;
}

.form {
  position: relative;
  z-index: 5;
  padding: 8vw;
}

.form form {
  font-size: 6vw;
}

.form__title {
  margin-bottom: 6vw;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.form__field input {
  margin-right: 5px;
}

.form__group {
  margin-bottom: 5vw;
}

.form__group-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2vw;
}

.form__group-title span:nth-child(2n) {
  font-size: 4.5vw;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #fcd858;
  margin: 0 auto;
  font-size: 5vw;
  font-weight: bold;
  width: 35vw;
  height: 12vw;
}

.button:disabled {
  background-color: lightgray;
}

.loader {
  width: 3.6vw;
  height: 3.6vw;
  border: 3px solid #989898;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  margin-left: 5px;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.show-loader {
  display: inline-block;
}

.field:focus {
  outline: none;
}

.field__name {
  border: none;
  background: transparent;
  border-bottom: 2px solid;
  font-size: 6vw;
  padding: 3px;
}

.field__error {
  display: block;
  color: tomato;
  font-size: 4vw;
  margin-top: 2vw;
}

.contacts {
  padding: 6vw;
  text-align: center;
}

.contacts__title {
  margin-bottom: 6vw;
}

.contacts__img {
  width: 50vw;
  border-radius: 3vw;
}

.contacts__info {
  font-size: 5.5vw;
  margin-bottom: 3vw;
}

.contacts__name {
  font-size: 7vw;
  margin-bottom: 2vw;
}

.contacts__phone {
  display: inline-block;
  color: #1a1a1a;
  text-decoration: none;
  font-size: 7vw;
  margin-bottom: 6vw;
}

.time-left {
  margin-bottom: 3vw;
}

.time-left__description {
  font-size: 5vw;
  margin-bottom: 2vw;
}

.time-left__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 6vw;
}

.time-left__time-part {
  position: relative;
}

.time__heart-1 {
  position: absolute;
  left: -28px;
  top: 4px;
  transform: rotate(-23deg);
}

.time__heart-2 {
  position: absolute;
  left: -35px;
  top: 23px;
  transform: rotate(21deg);
}

.time__heart-3 {
  position: absolute;
  left: -30px;
  top: -7px;
  transform: rotate(-9deg);
}

.time__heart-4 {
  position: absolute;
  left: -35px;
  top: 14px;
  transform: rotate(-29deg);
}

.time__heart-5 {
  position: absolute;
  right: -18px;
  top: 0;
  transform: rotate(26deg);
}

.time-left__time-part + .time-left__time-part {
  margin-left: 2vw;
}